{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>簡易審査フォーム</p>
        </div>
        <div class="panel-body">
          {% if predictedLabel and predictedLabel == "1" %}
          <div class="alert alert-success">この内容であれば問題なく融資可能です。ぜひ店頭までお越しください。</div>
          {% elif predictedLabel and predictedLabel == "0" %}
          <div class="alert alert-info">この情報だけでは融資可否を判断できませんでした。詳細な審査をご希望の方は店頭までお越しください。</div>
          {% endif %}
          <form class="form-horizontal" role="form" action="{% url 'exam' %}" method="post">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
            <div class="form-group">
              <input class="btn btn-primary center-block" type="submit" value="送信" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
